@model IEnumerable<_20499583HW5.Models.Student>


@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<div class="row">
    <table class="table">
        <tr>

            <td>

                <input class="form-control" type="text" placeholder="Search Student Name" />
            </td>
            <td>
                <select class="form-control">
                    <option value="" disabled selected hidden>Select a Class </option>
                </select>
            </td>

            <td>
                <input type="submit" value="Search" class="btn btn-success" />
            </td>
            <td>
                <input type="reset" value="Clear" class="btn btn-danger" />
            </td>

        </tr>



    </table>
    </div>
    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Point)
            </th>
            <th>
                Borrow  Book
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Point)
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-primary" />
                </td>
            </tr>
        }

    </table>
