@model IEnumerable<_20499583HW5.Models.BookBorrowsVM>

@{
    ViewBag.Title = "Borrows";
}

<h2>@Html.DisplayNameFor(model=> model.BookId.Name)- @Html.DisplayNameFor(model => model.BorrowID.BookStaus)</h2>


    <table class="table">
        <tr>
            <th colspan="3">
                #Borrows- 
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                @Html.ActionLink("View Students", "Student", "Student", new { @class = "btn btn-primary" })
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenDate)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.BroughtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedBy.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakenDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BroughtDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowedBy.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
